services:
  apphost:
    build:
      context: .
      dockerfile: apphost/Dockerfile
    container_name: apphost
    env_file: .env
    ports:
      - "8080:8080"
    depends_on:
      - analyse
      - store
    networks:
      - app

  analyse:
    build:
      context: .
      dockerfile: analyse/Dockerfile
    container_name: analyse
    env_file: .env
    ports:
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app

  store:
    build:
      context: .
      dockerfile: store/Dockerfile
    container_name: store
    env_file: .env
    ports:
      - "8082:8082"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}" ]
      interval: 3s
      timeout: 3s
      retries: 5
    networks:
      - app

volumes:
  postgres_data:

networks:
  app: